name: CI

env:
  JDK_JAVA_OPTIONS: -XX:+PrintCommandLineFlags -Xmx6G -Xss4M -XX:+UseG1GC # JDK_JAVA_OPTIONS is _the_ env. variable to use for modern Java
  NODE_OPTIONS: --max_old_space_size=6144

on:
  pull_request:
  push:
    branches: ['main']
  release:
    types:
      - published

jobs:

  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java: ['11', '17', '21']
        # These version must be different than the versions in V.scala to verify that we are reading from the ci.yml file.
        scala: ['2.12.18', '2.13.12', '3.3.1' ]
    steps:
    - uses: actions/checkout@v4.0.0
    - uses: actions/setup-java@v3.12.0
      with:
        distribution: corretto
        java-version: ${{ matrix.java }}
        check-latest: true
    - name: Cache scala dependencies
      uses: coursier/cache-action@v6
    - name: Run tests
      run: sbt ++${{ matrix.scala }}! test
          